.logo-image {
    max-width: 80px;
    height: auto;
}

.logo-image-l {
    max-width: 100px;
    height: auto;
}

.sabor-leche {
    max-width: 70px;
    height: auto;
}

.sabor-agua {
    max-width: 70px;
    height: auto;
}

.sabores {
    max-width: 100px;
    max-height: 100px;
}